/* Target the window specific to Spotify */
.window.spotify {
    display: flex !important;
    flex-direction: column;
    min-height: 500px !important;

    .window-content {
        flex: 1;
        /* Force content to fill the window */
        display: flex;
        flex-direction: column;
        height: 100%;
        /* Fallback for older browsers */
    }
}

.spotify-window {
    flex: 1;
    /* Grow to fill all available space */
    display: flex;
    /* Make this a flex container for the iframe */
    width: 100%;
    background-color: #000;

    iframe {
        flex: 1;
        /* Force iframe to stretch to the bottom */
        width: 100%;
        height: 100%;
        border: none;
    }
}