.window.spotify {
    min-height: 500px !important;
    height: 500px !important;

    .window-content {
        height: 100%;
        position: relative; // Needed for the absolute child
        display: block; // Removing flex here to avoid conflicts
    }
}

.spotify-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important; // Force it to fill the absolute container
        border: none;
    }
}