.window {
    height: 100%;
    overflow: hidden;

    background-color: #060606;
    border-radius: 0.75rem;
    overflow: hidden;

    color: rgb(168, 168, 168);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    .nav {

        padding-inline: 0.75rem;
        padding-block: 0.75rem;

        display: flex;
        align-items: center;
        gap: 1.5rem;

        border-bottom: 1px solid rgb(70, 69, 69);

        .dots {
            display: flex;
            gap: 0.5rem;

            .dot {
                height: 15px;
                width: 14px;
                background-color: white;
                border-radius: 50%;
            }

            .red {
                background-color: #ff605c;
                cursor: default;
            }

            .yellow {
                background-color: #ffbd44;
            }

            .green {
                background-color: #00ca56;
            }


        }
    }

    .main-content {
        height: 100%;

    }

    *::-webkit-scrollbar {
        width: 6px;
    }

    *::-webkit-scrollbar-track {
        background-color: #060606;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #777; // gray head
        border-radius: 10px;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #999;
    }


}