* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

html {
    font-size: 10px; // fixed base size
}

main {
    height: 100%;
    width: 100%;

    background: url(/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
    overflow: hidden;
}